#calc {
  background-color: gray;
  padding: 25px;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 3px 3px rgb(83, 81, 81), -1em 0 0.4em rgb(150, 150, 148);
  width: 50vh;
  position: inherit;
  height: 60vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#screen {
  border: 2px solid black;
  border-radius: 25px;
  width: 47vh;
  height: 10vh;
  margin: auto;
  background-color: rgb(176, 197, 209);
}
:root {
  background-color: rgb(255, 255, 255);
}
.button-container {
  display: grid;
}
#values {
  display: grid;
  grid-template-columns: repeat(4, 10vh [col-start]);
  grid-template-rows: repeat(5, 8vh [row-start]);
  grid-gap: 10px;
  margin: 5%;
}

#title {
  font-family: "Dancing Script", cursive;
  margin-right: 10%;
  font-size: 15vh;
}
button {
  border: 1px solid rgba(139, 58, 139, 0.808);
  background-color: rgba(129, 76, 129, 0.808);
  box-shadow: 5px 4px rgb(58, 57, 57);
  border-radius: 25%;
  font-size: 4vh;
}
/* #equal-sign {
  height: 7vh;
  width: 14vh;
} */
